.scrolldown-arrow {
  position: relative; /* Or absolute, fixed */
  margin-bottom: 2rem;
  margin-top: -3rem;
  width: 24px;
  height: 24px;
  border-left: 2px solid #777;
  border-bottom: 2px solid #777;
  animation: bounce 3.5s infinite;
  margin-left: auto;  /* Push from the left */
  margin-right: auto; /* Push from the right */
  display: block;     /* Ensure it's a block-level element for margin auto to work */
}

.scrolldown-arrow:hover {
    opacity: 1;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0) rotate(-45deg);
    }
    40% {
        transform: translateX(-50%) translateY(0.5rem) rotate(-45deg);
    }
    60% {
        transform: translateX(-50%) translateY(0.25rem) rotate(-45deg);
    }
}


@media (max-width: 600px) {

    .scrolldown-arrow {
    } 

}